@model DataObjects.Players

@{
    ViewBag.Title = "Edit";

    IEnumerable<String> teamsDDL = (IEnumerable<String>)ViewBag.teamsDDL;
}

<h2>Edit Player's Team</h2>

@if (ViewBag.ErrorMessage != null)
{
    @ViewBag.ErrorMessage.ToString()
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.PlayerID, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                @Html.ValidationMessageFor(model => model.PlayerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Given Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.GivenName, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                @Html.ValidationMessageFor(model => model.GivenName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Family Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.FamilyName, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                @Html.ValidationMessageFor(model => model.FamilyName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Year Drafted</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.YearDrafted, new { htmlAttributes = new { @class = "form-control", @disabled = "" } })
                @Html.ValidationMessageFor(model => model.YearDrafted, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Team Name</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TeamName, new SelectList(teamsDDL, "Team"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TeamName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.EspnID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EspnID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
