@using MVCPresentation.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    h2 {
        text-align: center;
        color: white;
    }

    .loginContainer {
        display: block;
        margin: 10% auto;
        width: 75%;
        max-width: 80vh;
        height: 50%;
        max-height: 50%;
        border: solid 2px #120A19;
        background-color: #013369;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }

    label {
        text-align: center;
        color: white;
        display: block;
        margin: auto;
        padding: 15px;
    }

    input {
        display: block;
        margin: 2% auto;
        width: 85%;
        height: 4vh;
        max-height: 30px;
        border-radius: 5px;
        border: solid 2px #120A19;
        background-color: #DBD6DF;
        padding-left: 1px;
        min-height: 35px;
        font-size: 16px;
    }



    .registerbtn {
        text-align: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .input-validation-error {
        border: 4px solid #ff0000;
        background-color: #ffeeee;
    }

    .field-validation-error {
        background-color: white;
        border-radius: 4px;
        border: solid 1px #333;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        text-align: right;
    }

</style>

<div class="loginContainer">
    <h2>Log in</h2>

    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <form class="login-form">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div>
                <label>Email</label>
                <div class="loginInputs">
                    @Html.TextBoxFor(m => m.Email, new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div>
                <label>Password</label>
                <div class="loginInputs">
                    @Html.PasswordFor(m => m.Password, new { @class = "input" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger"})
                </div>
            </div>

            <div style="margin-top: 25px;">
                <input type="submit" value="Log in" style="width: 175px; background-color: white;"/>
            </div>

            <div class="registerbtn">
                @Html.ActionLink("Register as a new user", "Register", new { area = "" }, new { @class = "btn", @style = "color: black; background: white; " })
            </div>

        </form>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}