@model IEnumerable<DataObjects.Stats>

@{
    ViewBag.Title = "Player Stats";
}

<style>

    table {
        border-collapse: collapse;
        font-size: 16px;
        border: solid 1px black;
        text-align: center;
    }

    tr th {
        background-color: #013369;
        color: white;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #edede9;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: white;
        color: black;
    }
</style>

@if (Model.Count() > 0)
{
    <h2>@Model.First().GivenName @Model.First().FamilyName's Stats</h2>


    <table class="table">
        <tr>
            <th>
                Season
            </th>
            <th>
                Stat Name
            </th>
            <th>
                Stat Amount
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SeasonID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatAmount)
                </td>
            </tr>
        }
    </table>
}
else
{
    <h2>There are currently no stats for this player</h2>
}
