@model IEnumerable<DataObjects.Stats>

@{
    ViewBag.Title = "Stats";
}

<style>
    ﻿h2 {
        color: #1c6758;
        font-size: 25px;
        font-weight: 600;
        margin: 20px;
    }

    table {
        border-collapse: collapse;
    }

    tr th {
        background-color: #013369;
        color: white;
    }

    table td + td {
        border-left: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: #edede9;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: white;
        color: black;
    }
</style>


<h2>All Stats</h2>
<h4>Showing @Model.Count()</h4>

<table class="table">
    <tr>
        <th>
            Season
        </th>
        <th>
            Name
        </th>
        <th>
            Stat Name
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName) @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatAmount)
            </td>

        </tr>
    }

</table>
