@model IEnumerable<DataObjects.Stats>

@{
    ViewBag.Title = "Stats";
}

<style>
    table {
        border-collapse: collapse;
        font-size: 16px;
        border: solid 1px black;
        text-align: center;
    }

    tr th {
        background-color: #013369;
        color: white;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #edede9;
        color: black;
    }

    tr:nth-child(odd) {
        background-color: white;
        color: black;
    }
</style>


<h2>All Stats</h2>
<h4>Showing @Model.Count()</h4>

<table class="table">
    <tr>
        <th>
            Season
        </th>
        <th>
            Name
        </th>
        <th>
            Stat Name
        </th>
        <th>
            Amount
        </th>
        <th>
            Details
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GivenName) @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatAmount)
            </td>
            <td>
                <div class="btn btn-default" style="margin: 0 0 10px 10px;">@Html.ActionLink("Details", "Details", "Stats", new { playerID = item.PlayerID }, new { @class = "" })</div>
            </td>

        </tr>
    }

</table>
