@model IEnumerable<DataObjects.Stats>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h4>Showing @Model.Count()</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GivenName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FamilyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GivenName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FamilyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
       
    </tr>
}

</table>
