@model DataObjects.Teams

@{
    ViewBag.Title = "Team Details";
}

<style>
    .desc {
        color: black;
        font-size: 25px;
        margin-bottom: 25px;
    }
</style>

<h2>@Model.TeamCity @Model.TeamName</h2>

<div class="container-fluid"> 
    <div class="row">
        <div class="col-xs-9 col-md-6">
            <img style="width: 300px; height: 300px; float: none; " src='https://a.espncdn.com/i/teamlogos/nfl/500/@(Model.TeamAbbrivation+".png")'/>
        </div>
        <div class="col-xs-3 col-md-6">
            <div class="desc">
                Mascot: @Html.DisplayFor(model => model.TeamMascot)
            </div>
            <div class="desc">
                City: @Html.DisplayFor(model => model.TeamCity)
            </div>
            <div class="desc">
                State: @Html.DisplayFor(model => model.TeamState)
            </div>
            <div class="desc">
                Abbrivation: @Html.DisplayFor(model => model.TeamAbbrivation)
            </div>
        </div>
    </div>
</div>