@model IEnumerable<DataObjects.Teams>

@{
    ViewBag.Title = "Teams";
}

<h2>NFL Teams</h2>
<h4>Showing @Model.Count() Teams</h4>

<div class="container">
    <div class="row">
        @foreach (var team in Model)
        {
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="panel panel-default">
                    <img class="panel-heading" style="max-width: 100%; height: auto;" src='https://a.espncdn.com/i/teamlogos/nfl/500/@(team.TeamAbbrivation+".png")' />
                    <h4 class="panel-body">
                        @{
                            switch (team.TeamName)
                            {
                                case "Cardinals":
                                    <text>
                                        @team.TeamState @team.TeamName
                                    </text>
                                    break;
                                case "Titans":
                                    <text>
                                        @team.TeamState @team.TeamName
                                    </text>
                                    break;
                                case "Vikings":
                                    <text>
                                        @team.TeamState @team.TeamName
                                    </text>
                                    break;
                                default:
                                    <text>
                                        @team.TeamCity @team.TeamName
                                    </text>

                                    break;
                            }
                        }

                    </h4>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <div class="btn btn-default" style="margin: 0 0 10px 10px;">@Html.ActionLink("Players", "PlayersOnTeam", "Players", new { teamName = team.TeamName }, new { @class = "" })</div>
                    }
                    <div class="btn btn-default" style="margin: 0 0 10px 10px;">@Html.ActionLink("Details", "Details", new { teamName = team.TeamName })</div>
                    @if (this.User.IsInRole("Admin") || this.User.IsInRole("Administrator") || this.User.IsInRole("StatAdjuster"))
                    {
                        <div class="btn btn-default" style="margin: 0 0 10px 10px;">@Html.ActionLink("Edit", "Edit", new { teamName = team.TeamName })</div>
                    }
                </div>
            </div>
         }
    </div>
</div>